<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.organizzatore">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.attivita.Sport"
            android:label="Sport da organizzare"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.organizzatore.MainActivity"
            />

        <activity
            android:name=".ui.attivita.Studio"
            android:label="Materie"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.organizzatore.MainActivity"
            />

        <activity
            android:name=".ui.attivita.Lavoro"
            android:label="Attività lavorative"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.organizzatore.MainActivity"
            />

        <activity
            android:name=".ui.attivita.FreeTime"
            android:label="Cosa si fa?"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.organizzatore.MainActivity"
            />

        <activity
            android:name=".ui.ThingsToDo.TSport"
            android:label="Esercizio da svolgere"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.organizzatore.ui.ThingsToDo.TSport"
            />
        <activity
            android:name=".ui.ThingsToDo.PreSport"
            android:label="Andiamo"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.organizzatore.ui.ThingsToDo.TSport"
            />


        <activity
            android:name=".ui.ThingsToDo.TStudio"
            android:label="Organizzazione studio"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.organizzatore.ui.ThingsToDo.TStudio"
            />
        <activity
            android:name=".ui.ThingsToDo.PreStudio"
            android:label="Non mollare!"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.organizzatore.ui.ThingsToDo.TStudio"
            />


        <activity
            android:name=".ui.ThingsToDo.TLavoro"
            android:label="ToDo list"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.organizzatore.ui.ThingsToDo.TLavoro"
            />
        <activity
            android:name=".ui.ThingsToDo.PreLavoro"
            android:label="Chi ben inizia..."
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.organizzatore.ui.ThingsToDo.TLavoro"
            />

        <activity
            android:name=".ui.ThingsToDo.TFreeTime"
            android:label="suddividi il tempo"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.organizzatore.ui.ThingsToDo.TFreeTime"
            />
        <activity
            android:name=".ui.ThingsToDo.PreFreeTime"
            android:label="Buon divertimento!"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.organizzatore.ui.ThingsToDo.TFreeTime"
            />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>